{% extends 'main_theme.html' %}

{% block headers %}
{% endblock %}

{% block maincontent %}
<div class="app-content content">
    <div class="content-body">
        <section id="basic-form-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="bs-callout-{{message.tags}} p-1">
                                    <strong></strong>
                                    <p class="text-center">{{message}}</p>
                                </div>
                            {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </section>
        <section id="basic-form-layouts">
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">User Profile</h4>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <form class="form" method="POST" action="{% url 'farmApp:profile'%}"
                                      onsubmit="return validate_form()">
                                    {% csrf_token %}
                                    <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="first_name">First Name</label>
                                                    <input type="text" id="first_name" class="form-control"
                                                        data-err-title="Full_Name" maxlength="32" name="full_name"
                                                        value="{{request.farm_user.full_name}}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input type="text" id="email" class="form-control"
                                                        data-err-title="Email" name="email" maxlength="50"
                                                        value="{{request.farm_user.email}}">
                                                </div>
                                            </div>
                                        </div>
                                    <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="contact_no">Contact No.</label>
                                                    <input type="text" id="contact_no" class="form-control"
                                                        data-err-title="contact no" name="contact_no" maxlength="10"
                                                        value="{{request.farm_user.contact_no}}">
                                                </div>
                                            </div>
                                        </div>
                                    <div class="form-group">
                                            <button type="submit"
                                                class="btn btn-success btn-min-width mr-1 mb-1 float-right">
                                                Save
                                            </button>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}

{% block scriptfile %}
{% endblock %}