{% extends 'main_theme.html' %}

{% block headers %}
{% endblock %}

{% block maincontent %}
    {% if messages %}
        {% for message in messages %}
            <div class="bs-callout-{{message.tags}} p-1">
                <strong></strong>
                <p class="text-center">{{message}}</p>
            </div>
        {% endfor %}
    {% endif %}
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-title">
                            <h4>User Profile:</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-elements">
                                <form method="POST" action="{% url 'farmApp:profile'%}"
                                      onsubmit="return validate_form()">
                                    {%  csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Full Name</label>
                                                 <input id="full_name" class="form-control"  name="full_name"
                                                       data-err-title="Full Name" type="text"
                                                       value="{{request.farm_user.full_name}}">

                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Contact No.</label>
                                                <input id="contact_no" class="form-control" name="contact_no"
                                                       data-err-title="Contact Number" type="text"
                                                       value="{{request.farm_user.contact_no}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input id="email" class="form-control"
                                                       data-err-title="Email" type="email"
                                                       value="{{request.farm_user.email}}" name="email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group text-right">
                                        <button type="submit" class="btn btn-success">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <h4>Change Password:</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-elements">
                                <form method="POST" action="{% url 'farmApp:changepassword'%}"
                                      onsubmit="return changepass_validate_form()">
                                    {%  csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-6">
                                             <div class="form-group">
                                                <label for="old_password">Current Password</label>
                                                <input type="password" id="old_password" class="form-control"
                                                       data-err-title="old password" name="old_password" minlength="8">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="new_password">New Password</label>
                                                <input type="password" id="new_password" class="form-control"
                                                       data-err-title="New Password" minlength="8"
                                                       name="new_password">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="confirm_password">Confirm New Password</label>
                                                <input type="password" id="confirm_password" class="form-control"
                                                        data-err-title="Confirm Password" name="confirm_password"
                                                        minlength="8">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group text-right">
                                        <button type="submit" class="btn btn-success">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scriptfile %}
    <script>
          function validate_form() {
            if (!check_form({
                     "full_name": "c",
                     "contact_no": "c",
                     "email": "e",
                 })) {
             return false;
            }
            }

          function changepass_validate_form() {
            if (!check_form({
                     "old_password":"p",
                     "new_password": "p",
                     "confirm_password": "rp"
                 })) {
             return false;
            }
            }

</script>
{% endblock %}